<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>HOME 🏠</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      excepturi atque dicta placeat corrupti neque sunt doloremque modi adipisci
      distinctio.
    </p>
    <%= 5 + 5 %>
  </body>
</html>
